/*Color scheme:
    * #3d5a80 - Purple Navy
    * #98c1d9 - Pale Cerulean
    * #e0fbfc - Light Cyan
    * #ee6c4d - Light Red Ochre
    * #293241 - Gunmetal
*/


/*reduce the with of text*/

* {
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
}

.wrap {
    width: 900px;
    margin: 0 auto;
}

header {
    background-color: #3d5a80;
    color: #fff;
    padding: 0 0 6px 0;
}

header h1 {
    /* color: #fe4f4f; */
    padding-top: 41px;
    margin: 0 0 5px 0;
}

ul {
    margin: 0;
}

header p {
    margin: 0;
    padding: 0;
}

header img {
    width: 100px;
    height: auto;
    float: left;
    margin: 10px;
}

h2 {
    padding-top: 30px;
    margin: 0 50px;
}

article {
    margin: 0 auto;
    padding-bottom: 20px;
}


/* style for main navigation buttons*/

nav {
    text-align: center;
    clear: both;
    background-color: #293241;
    padding-top: 6px;
    z-index: 10;
}

h2,
#top-menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    /*width: 100px;*/
}

nav a {
    text-decoration-line: none;
    padding: 5px;
    background-color: #3d5a80;
    color: #fff;
}

nav a:hover {
    background-color: #ee6c4d;
    /* #3d5a80;*/
    text-transform: uppercase;
    color: #fff;
}


/* main page */

article {
    background-color: #e0fbfc;
}

a {
    text-decoration-line: none;
    color: #3d5a80;
}

a:hover {
    color: #ee6c4d;
}


/* columns at Cabinet */

.column {
    display: inline-block;
    width: 415px;
    height: 350px;
    vertical-align: top;
    padding: 5px 15px 25px 15px;
    margin: 3px 0;
    background-color: #98c1d9;
}


/* cabinet */

.panel-image {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.panel-image-prop {
    padding-top: 35%
}


/*Slideshows for activitati*/

* {
    box-sizing: border-box
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4 {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.adress img {
    max-width: 800px;
    height: auto;
    margin: 10px 50px;
}

.qr img {
    width: 200px;
    height: auto;
    float: right;
    margin: 10px;
}


/* footer */

footer {
    background-color: #293241;
    height: 50px;
}

footer nav {
    background-color: #293241;
    padding-top: 0px;
}